<template>
    <div>
        <div>This is a parent: </div>
        <fullName :firstname="firstname" :lastname="lastname"></fullName>
    </div>
</template>
<script>
import fullName from './fullname.vue'
import { ref } from 'vue'
export default {
    components: {
        fullName
    },
    setup() {
        const firstname = ref('Bob')
        const lastname = ref('Ger')

        return {
            firstname,
            lastname
        }
    },
}
</script>