<template>
    <div>{{ fullName }}</div>
</template>

<script>
import { computed } from 'vue'
export default {
    setup(props) {
        const fullName =  computed(() => {
            return `${props.firstname} ${props.lastname}`
        })
        return {
            fullName
        }
    },
    props: ['firstname', 'lastname']
}
</script>