<template>
<div>
    <div>Child B: {{ userName }} </div>
    <div>Composition Inject: {{ cUsername }} </div>
    <div>Composition Count: {{ count }} </div>
</div>
</template>

<script>
import { inject } from 'vue'
export default {
    inject: ['userName'],
    setup(){
       const cUsername =  inject('c_username', 'Default Value')
       const count = inject('count', 0)
       return {
           cUsername,
           count
       }
    }
}
</script>