<template>
<div>
    <div>Child A: {{ userName }} </div>
    <child-b></child-b>
</div>
</template>

<script>
import ChildB from './childB.vue'
export default {
    components: {
        ChildB
    },
    inject: ['userName']
}
</script>