<template>
<div>
    <div>Provider {{ userName }} </div>
    <div>Count: {{ count }} </div>
    <button @click="incrementCount">Increment count</button>
    <child-a></child-a>
</div>
</template>
<script>
import childA from './childA.vue'
import { provide, ref} from 'vue'
export default {
    components: {
        childA
    },
    setup(){
        function incrementCount(){
            count.value++
        }
        provide('c_username', 'Composition Username')
        const count  = ref(0)

        provide('count', count)
        return {
            count,
            incrementCount
        }
    },
    data(){
        return {
            userName: 'Bobskieeee'
        }
    },
    provide(){
        return {
            userName: this.userName
        }
    }
}
</script>