<template>
    <div>
        It will call heroes
        <name @callHeroes="callHeroes"> </name>
    </div> 

</template>

<script>
import Name from './name.vue'
export default {
    components: {
        Name
    },
    setup() {
        function callHeroes(value){
            console.log(value)
        }
        return {
            callHeroes
        }
    },
}
</script>