<template>
    <div>
        <div>Hello </div>
        <button @click="sendEvent">Call Heroes</button>
    </div>
</template>
<script>
import { ref } from 'vue'
export default {
    setup(props, context) {
        console.log(context)
        const name = ref('Bob')

        function sendEvent(){
            context.emit('callHeroes', name.value)
        }

        return {
            name,
            sendEvent
        }
    },
}
</script>