<template>
  <div class="min-h-screen flex flex-row bg-gray-100">
    <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
      <div class="flex items-center justify-center h-20 shadow-md">
        <h1 class="text-3xl uppercase text-indigo-500">Product</h1>
      </div>
      <ul class="flex flex-col py-4">
        <li>
          <router-link to="/" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
            <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-home"></i></span>
            <span class="text-sm font-medium"> 100 listings</span>
          </router-link>
        </li> 
        <li>
          <router-link to="/about" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
            <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-music"></i></span>
            <span class="text-sm font-medium">Pagination </span>
          </router-link>
        </li>

        <li> 
          <br />
          Price Min and Max: 
          <input class="border-solid border-4 border-light-blue-500 " type="number" :value="min" placeholder="Minimum" @change="changeMin($event)"/> 
          <br />
          <input class="border-solid border-4 border-light-blue-500 my-1" type="number" :value="max" placeholder="Maximum" @change="changeMax($event)"/> 
        </li>

        <li> 
          <br />
          <select @change="selectedCategory($event)" v-model="key">
            <option value="">Select Category</option>
            <option :value="category.id" v-for="(category, i) in categories" :key="i">{{ category.name }}</option>
          </select>
        </li>

        <li>
          <br />
          In Store Availability
        </li>
      </ul>
    </div>
    <div class="p-8">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Layout',
  data(){
    return {
      key: '',
      categories: []
    }
  },
  computed: {
    min() {
      return this.$store.getters.min 
    },
    max() {
        return this.$store.getters.max 
    },

  },
  methods: {
    changeMin(event){
       this.$store.commit('setMin', event.target.value)
    },
    changeMax(event){
      this.$store.commit('setMax', event.target.value)
    },
    selectedCategory(event){
      this.$store.commit('setSelectedCategory', event.target.value)
    },
    async getCategories(){
      const categories = await new Promise( (resolve) => {
         this.axios.get('categories').then(response => {
            this.$store.commit('setCategories', response.data)
            resolve(response.data)
          })
      });
      this.categories = categories
     
    }
  },
  mounted(){
    this.getCategories()
  }
}
</script>

<style>
/*
 * We'll use CSS grids for the base template
 * More info on https://cssgrid.io/ by @wesbos
 */
#main {
  display: grid;
  grid-template-columns: 6rem auto;
  /* Or grid-template-columns: config('width.24') auto; */
}

@media (min-width: 1200px) { 
/* Or @media (min-width: config('screens.xl')) { */
  
  #main { grid-template-columns: 12rem auto; }
  /* Or #main { grid-template-columns: config('width.48') auto; } */
}

a {
  text-decoration: none;
  /* Or @apply .no-underline; */
}

/* Just a new padding size */
.pt-16 {
  padding-top: 4rem;
}

/*
 * Just some customized new utilities needed for the submenus
 * Add this before
 */
.top-full { top: 100%; }
.left-full { left: 100%; }

/*
 * This hacks is just needed in Codepen because the previous rules are prioritary to xl:pin-none.
 * In your own config this should not be needed.
 */

@media (min-width: 1200px) {
  .xl\:pin-none { left: auto; }
}

/* 
 * Active "group-hover" for the "display" module in your
 * tailwind.js config file like this:
 * 
 * display: ['responsive', 'group-hover']
 *
 * More info on https://tailwindcss.com/docs/state-variants/#group-hover
 */
.group:hover .group-hover\:block {
  display: block;
}
</style>

