<template>
    <button @click="incrementCount">Total click {{ count }}</button>
</template>
<script>
import useCounter  from '../../../hooks/useCounter'
export default {
    setup() {
        const { count, incrementCount } = useCounter(100, 10)
        return {
            count, 
            incrementCount
        }
    },
}
</script>