<template>
    <h2 @mouseover="incrementCount">Total Hover: {{ count }} </h2>
</template>
<script>
import useCounter  from '../../../hooks/useCounter'
export default {
    setup() {
        const { count, incrementCount } = useCounter()
        return {
            count, 
            incrementCount
        }
    },
}
</script>