<template>
    <div>
        <click-counter></click-counter>
        <hover-counter></hover-counter>
    </div> 
</template>
<script>
import ClickCounter from './click-counter.vue'
import HoverCounter from './hover-counter.vue'
export default {
    components: {
        ClickCounter,
        HoverCounter
    }
}
</script>