<template>
    <div> 
        <p>Options API: {{ o_firstname }}</p>
        <p>Composition API: {{ c_firstname }} </p>
        <p>Composition Reactive: {{ state.firstname }} - {{ state.lastname }} </p>
    </div>
</template>

<script>
import { ref, reactive } from 'vue'
export default {
    data(){
        return {
            o_firstname: 'Option Bob'
        }
    },
    setup() {
        const c_firstname = ref('Composition Bob');
        c_firstname.value = 'Composition change Bob';
        

        const state = reactive({
            firstname: 'reactive firstname bob',
            lastname: 'reactive lastname bob'
        });

        return {
            c_firstname,
            state
        }
    },
}
</script>