<template>
  <div> 
     <h1 class="text-2xl">Listings</h1>
     <div v-for="(product, i) in products" :key="i">
          <p>Name: {{ product.name }} </p> 
          <p>Price: {{ product.price }} </p>
          <p>Description: {{ product.description }} </p>
          <p>Category: {{ product.category.name }} </p>
          <p>In Store Availability: {{ product.available }} </p>
          <br />
     </div>
  </div>
 
</template>

<script>
import { api } from '../../hooks/api.js'
export default {
  name: 'Listings',
  setup(){
    // const params = {
    //       columns: 'id,name,description,category_id',
    //       with: 'category',
    //       filters: '',
    //       limit: 10, 
    //       min: '',
    //       max: ''
    //     }
     api
  },
  data(){
    return {
      products: [],
    }
  },
  computed: {
    min(){
      return this.$store.getters.min 
    },
    max(){
      return this.$store.getters.max 
    },
    selectedCategory(){
      return this.$store.getters.selectedCategory;
    }
  },
  watch: {
    selectedCategory: {
       deep: true,
       handler() {
        this.getProduct()
       }
    },
    min(){
      this.getProduct()
    },
    max(){
      this.getProduct()
    }
  }
}
</script>
