<template>
  <div> 
     <h1 class="text-2xl">Paginate</h1>
     <div v-for="(product, i) in products" :key="i">
          <p>Name: {{ product.name }} </p> 
          <p>Price: {{ product.price }} </p>
          <p>Description: {{ product.description }} </p>
          <p>Category: {{ product.category.name }} </p>
          <p>In Store Availability: {{ product.available }} </p>
          <br />
     </div>
     <div class="flex items-center space-x-1">
       <button @click="previous" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Previous
      </button>
      <button @click="next" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        Next
      </button>
    </div>
  </div>
 
</template>

<script>
export default {
  name: 'Paginate',
  data(){
    return {
      current_page: 1,
      last_page: 0,
      products: [],
    }
  },
  computed: {
    min(){
      return this.$store.getters.min 
    },
    max(){
      return this.$store.getters.max 
    },
    selectedCategory(){
      return this.$store.getters.selectedCategory;
    }
  },
  methods: {
    getProduct(){
      this.axios.get(`products?page=${this.current_page}&limit=20&category_id=${this.selectedCategory}&min=${this.min}&max=${this.max}`).then( response => {
        this.products = response.data.data
        this.current_page = response.data.current_page
        this.last_page = response.data.last_page
      })
    },
    next(){
      if(this.current_page < this.last_page){
        this.current_page++
        this.getProduct()
      }
    },
    previous(){
      if(this.current_page <= this.last_page && this.current_page != 0){
        this.current_page--
        this.getProduct()
      }
    }
  },
  mounted(){
    this.getProduct()
  },
  watch: {
    min(){
      this.getProduct()
    },
    max(){
      this.getProduct()
    },
    selectedCategory: {
       deep: true,
       handler() {
        this.getProduct()
       }
    }
  }
}
</script>