<template>
    <div>
        <input type="text" v-model="name" />
    </div>
</template>
<script>
import { ref, watch } from 'vue'
export default {
    setup() {
        const name = ref('')
        watch(name, (newValue, oldValue) => {
            console.log('New Value' + newValue)
            console.log('Old Value' + oldValue)
        })
        return {
            name
        }
    },
}
</script>