<template>
    <div> 
        {{ count }}
        <button @click="incrementCount">Increment Count </button>
        <div>
            {{ firstname }} {{ lastname }}
            <button @click="changeName">Change Name</button>
        </div>
    </div>
</template>
<script>
import { ref, toRefs, reactive } from 'vue'
export default {
    setup() {
        const count = ref(0)
        const state = reactive({
            firstname: 'Bob',
            lastname: 'Ger'
        })

        function incrementCount(){
            count.value++
        }

        function changeName(){
            state.firstname = 'Change Bob in a function',
            state.lastname = 'Change Ger in a function'
        }

        return {
            count,
            incrementCount,
            changeName,
            ...toRefs(state)
        }
    },
}
</script>