<template>
    <div>
        <input type="text" v-model="firstname" />
        <input type="text" v-model="lastname" />
        <div> 
            Composition Computed Property: {{ fullName }}
        </div>
    </div>

</template>
<script>
import { reactive, toRefs, computed } from 'vue'
export default {
    setup() {   
        const state = reactive({
            firstname: '',
            lastname: ''
        })

        const fullName = computed(() => {
            return `${state.firstname} ${state.lastname}`
        })

        return {
            fullName,
            ...toRefs(state)
        }
    },
}
</script>