<template>
    <div>
        To Refs: {{ firstname }} - {{ lastname }}
    </div>
</template>
<script>
import { reactive, toRefs } from 'vue'
export default {
    setup() {

        const state = reactive({
            firstname: 'Bob',
            lastname: 'Ger'
        })

        setTimeout( () => {
            state.firstname = 'Removing State Bob'
            state.lastname = 'Removing State Ger'
        }, 2000)
        
        return toRefs(state)
    },
}
</script>